# Stretegy Design Pattern for Machine Learning Algorithms Training
This document presents the implementation in Python of the [Strategy Design Pattern](https://refactoring.guru/design-patterns/strategy/python/example#) in the context of Machine Learning Algorithms benchmarking.

Note: The benchmarking is inside the scope of my master thesis titled "Use of Artificial Intelligence to
Forecast Constraints in the
Energy Systems" - Jamilson Junior

All the classes functions and methods are implemented in the `thesis_package` in my [github repo](https://github.com/jamilsonjr).

### Introduction to the Strategy Design Pattern 
Design Patterns, in general, are a set of best practices that can be used to solve common problems. The Strategy design pattern is one of the most common design patterns in software development, as it is used to solve the problem of selecting the correct algorithm to use for a given problem. The Strategy design pattern is a behavioral design pattern that defines a family of algorithms, encapsulates each one, and makes them interchangeable. In this context, it is used to select the appropriate model for the problem of predicting the power flow results of a power system.

### Implementation Structure of the Strategy Design Pattern in Python
The Strategy design pattern has four major components:
- **Context**: The context class defines the interface of the Strategy objects. It also defines the interface of the client that uses the Strategy objects.
- **Strategy**: The strategy class defines the interface of the algorithm objects. It also defines the interface of the client that uses the algorithm objects.
- **Concrete Strategy**: The concrete strategy class defines the algorithm objects.
- **Client**: The client class uses the Strategy objects.

In [7]:
# Imports 
import pandas as pd
from abc import ABC, abstractmethod

In [5]:
# Implement the Stretegy design pattern.
class Strategy(ABC):
    @abstractmethod
    def do_algorithm(self, data: dict) -> None:
        pass    
# Actual Strategies
class Strategy_1(Strategy):
    def do_algorithm(self, data: dict) -> None:
        result = data['test'] * 100
        print("Strategy 1: ", data, ' Result: ', result)
        return result
class Strategy_2(Strategy):
    def do_algorithm(self, data: dict) -> None:
        result = data['test'] * 10
        print("Strategy 2: ", data, ' Result: ', result)
        return result
class Context():
    def __init__(self, strategy: Strategy) -> None:
        self._strategy = strategy
    @property
    def strategy(self) -> Strategy:
        return self._strategy
    @strategy.setter
    def strategy(self, strategy: Strategy) -> None:
        self._strategy = strategy
    def do_algorithm(self, data: dict) -> None:
        return self._strategy.do_algorithm(data)

A toy example of the Strategy design pattern in Python is presented below.

In [6]:
# Create inputs.
example_input = {'test': 2} 
# Create context object with Strategy_1 as a concrete strategy.
context = Context(strategy=Strategy_1())
context.do_algorithm(example_input)
# Set it as Strategy_2.
context.strategy = Strategy_2()
context.do_algorithm(example_input)

Strategy 1:  {'test': 2}  Result:  200
Strategy 2:  {'test': 2}  Result:  20

20

## Practical Example: Feature Selection of Machine Learning Algorithms for Power System Forecasting

Explanation of Machine Learning explainability...

### Data
The datasets used are the combination of the ones created in  `pandapower_time_series_power_flow.ipynb` and `cleaned_profile_data.ipynb`. The complete dataset is created bellow.

In [15]:
pv_data = pd.read_csv('..\data\processed\production\pv_data_processed.csv')
pv_data.head(5)

,value,T,R,year,month,normalized_value,date
0,0.0,282.260500,448.421296,2020,1,0.0,2020-01-01 00:00:00
1,0.0,282.228792,411.052855,2020,1,0.0,2020-01-01 00:15:00
2,0.0,282.197083,373.684414,2020,1,0.0,2020-01-01 00:30:00
3,0.0,282.165375,336.315972,2020,1,0.0,2020-01-01 00:45:00
4,0.0,282.133667,298.947531,2020,1,0.0,2020-01-01 01:00:00

The same values of temperature `T` and irradication `R` will be considered for every bus, since they are all in the same geographical region.

In [20]:
pv_data.drop(['year', 'month', 'value', 'normalized_value', 'date'], axis=1, inplace=True)

In [16]:
wind_data = pd.read_csv('..\data\processed\production\wind_data_processed.csv')
wind_data.head(5)

,value,T,R,wind_speed,wind_direction,year,month,normalized_value,date
0,0.0,NaN,372.261111,0.809418,221.622702,2020,1,0.0,2020-01-01 00:00:00
1,0.0,NaN,341.239352,0.809418,221.622702,2020,1,0.0,2020-01-01 00:15:00
2,0.0,NaN,310.217593,0.809418,221.622702,2020,1,0.0,2020-01-01 00:30:00
3,0.0,NaN,279.195833,0.809418,221.622702,2020,1,0.0,2020-01-01 00:45:00
4,0.0,NaN,248.174074,0.809418,221.622702,2020,1,0.0,2020-01-01 01:00:00

From the `wind_data` the features `wind_speed` and `wind_direction` are considered for every bus, once these are all approximetely in the same geographical region.

In [17]:
wind_data.drop(['year', 'month', 'value', 'normalized_value', 'date', 'T', 'R'], axis=1, inplace=True)

In [21]:
pv_data.describe()

                  T             R
count  45216.000000  45216.000000
mean     288.376189    689.990778
std        4.044865    701.609477
min      275.930000      0.000000
25%      285.788990     71.479205
50%      287.979000    478.544753
75%      290.821688   1104.397338
max      304.526000   2817.027778

ADDING Network data